@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,300);

* {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #ff794d;
	margin: 0%;
}

header {
	background-color: #0d0d3f;
	box-shadow: 0px 2px 5px #888888;
	height: 100px;
	width: 100%;
	position: relative;
	z-index: 1;
}

input {
	outline: none;
}

input[type=text] {
	width: 100%;
}

input[type=text]:focus {
    border: 1px solid #34a2d3;
}

textarea { 
	resize: none; 
	width: 100%;
}

.horizontal-center {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

.button {
	background-color: #ffffff;
	border: 1px solid #34a2d3;
	border-radius: 4px;
	color: #34a2d3;
	width: 15%;
	padding: 1%;
	font-size: 100%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

.button:hover {
	background-color: #34a2d3;
	color: #ffffff;
}

#header-title {
	color: #ffffff;	
	font-size: 200%;
	font-weight: 700;
	margin-top: 2%;
}

#logo {
	max-width: 30%;
}

.main-wrapper {
	background-color: #ffffff;
	box-shadow: 0px 3px 10px #888888;
	padding: 5% 10%;
	width: 80%;
	height: auto;
	min-height: 100%;
}

.main-header {
	height: 100px;
	position: relative;
}

.main-title {
	text-align: center;
	font-size: 200%;
	font-weight: 700;
	margin-bottom: 2%;
}

.main-content {
	position: relative;
}

.form-item {
	float: left;
	margin-bottom: 1%;
	width: 100%;
}
