-# The way layout works is that is sets a general structure to the page
-# Then, with yield, additional content is integrated

!!!
%html
  %head
  %title Application Form
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  
  %body
    %header
      #header-title.horizontal-center Volunteer & Intern Application Form
    
    .main-wrapper.horizontal-center
      .main-header
        = image_tag("logo.png", :alt => 'logo', :id => 'logo', :class => 'horizontal-center')
      .main-content
        = yield 
