/ Scotty's House Volunteer WebForm
/ Written in 2016 by:
/ Gustavo Estrela
/ Logan Ford
/ Patrick Herrington
/ Noemie Nakamura
/ Steven Snow
/ Matthew Wiecek
/ To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide. This software is distributed without any warranty.
/ You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

%nav.hub-container
  .hub-item
    = link_to admin_new_user_path do
      #add-admin.hub-icon.dark-sprites
      Add a New Administrator
  .hub-item
    = link_to admin_show_users_path do
      #manage-admin.hub-icon.dark-sprites
      Manage Administrators
  .hub-item
    = link_to admin_query_volunteer_path do
      #search-forms.hub-icon.dark-sprites
      Search Incomplete Applications
  %span.stretch
