/ Scotty's House Volunteer WebForm
/ Written in 2016 by: 
/ Gustavo Estrela
/ Logan Ford
/ Patrick Herrington
/ Noemie Nakamura
/ Steven Snow
/ Matthew Wiecek
/ To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide. This software is distributed without any warranty.
/ You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

.main-title New User

=form_tag admin_new_user_path, :method => :post do
  .form-item
    %span email
    %br
    = email_field_tag(:email)
    %br
    %span default password (Note: the user should change this password after first use!)
    %br
    = password_field_tag(:password)
    %br
    %span confirm password
    %br
    = password_field_tag(:password_confirmation)
    
  .form-item  
    = submit_tag 'Continue', :class => "button"