/ Scotty's House Volunteer WebForm
/ Written in 2016 by: 
/ Gustavo Estrela
/ Logan Ford
/ Patrick Herrington
/ Noemie Nakamura
/ Steven Snow
/ Matthew Wiecek
/ To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide. This software is distributed without any warranty.
/ You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

Current user is 
= @current_email

%table
    %thead
        %tr
            %th.admin-th E-mail address
            
    %tbody
    - @users.each do |user|
        %tr
            %td.admin-td user.email
            %td.admin-td
                = button_to 'delete', admin_delete_user_path(:id => user.id), :method => :delete
            
%br
= link_to("Admin", auth_user_root_path)