Current user is 
= @current_email

%table
    %thead
        %tr
            %th.admin-th E-mail address
            
    %tbody
    - @users.each do |user|
        %tr
            %td.admin-td user.email
            %td.admin-td
                = button_to 'delete', admin_delete_user_path(:id => user.id), :method => :delete
            
%br
= link_to("Admin", auth_user_root_path)