/ Scotty's House Volunteer WebForm
/ Written in 2016 by: 
/ Gustavo Estrela
/ Logan Ford
/ Patrick Herrington
/ Noemie Nakamura
/ Steven Snow
/ Matthew Wiecek
/ To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide. This software is distributed without any warranty.
/ You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

.main-title Status Page Not Found

-# The method attribute specifies how to send form data (GET or POST)
-# GET is default and appends the data to the URL in name/value pairs URL?name=value&name=value
-# POST sends data as HTTP post transaction 
-# Form data is sent to the page specified in the action attribute

=form_tag welcome_completed_status_path, :method => :post do
  
  .completed_status-item  
    = 'The fact you are viewing this page is indicative of one of two things.'
   
  .completed_status-item  
    = '    1) The link you provided is invalid.'
  
  .completed_status-item  
    = '    2) Your application has been processed and sent to Scotty\'s House'
   
  .completed_status-item  
    = 'If you have any questions about your application, please contact Scotty\'s House'
    