#title Scotty's House Volunteer & Intern Application
%br
#instruction Please enter your name:
%input{:type=>"text", :placeholder => "Luke Skywalker"}
%br
%br
#instruction Please enter an absurdly large amount of text :)
%textarea{:rows => "12", :cols => "60"}
%br
= form_tag welcome_index_path, :method => :get do
  Include:
  = submit_tag 'Submit', :id => 'ratings_submit'